/*Ukuran Laptop Biasa*/
/*Utilitas*/
    :root{
      --biru-unggulan:rgb(22, 50, 92);
      --biru-unggulan-button:rgba(22, 50, 92,0.9);
      --biru-text-home:#215D98;
    }
    
    /* Biru Unggulan Template Variabel */
    .biru-unggulan-label {
      background-color: var(--biru-unggulan);
    }
    .biru-unggulan-text {
      color: var(--biru-unggulan);
    }
    
    .biru-unggulan-button {
      background-color: var(--biru-unggulan-button) !important;
      color: #ffffff;
    }
    
    .biru-unggulan-button:hover {
      background-color: rgba(22, 50, 92, 1) !important;
      color: #ffffff;
    }
    
    /* Akhir Biru Unggulan Template Variabel */
    
   
    .biru-tua {
      background-color: #16325c;
    }
    .tabcontent {
      display: none;
    }
    .text-biru-tua {
      color: #16325c;
    }
    .bukus > .buku-list-semua {
      margin: 20px;
    }
    .biru-muda {
      background-color: #2dd9ff;
    }
    .underline {
      position: absolute;
      bottom: -2px;
      left: 50%;
      background-color: #00BFFF!important;
      height: 3px;
      width: 100%;
      transform: translateX(-50%);
      transition: transform 0.4s;
    }
    .avatar {
      position: relative;
      line-height: 1;
      border-radius: 500px;
      white-space: nowrap;
      font-weight: 700;
      border-radius: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      border-radius: 500px;
      box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
    }
    
    .avatar img {
      border-radius: inherit;
      width: 100%;
    }
    .gd-warning {
      color: #fff;
      border: none;
      background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
    }
    .w-48 {
      width: 48px !important;
      height: 48px !important;
    }
    .w-60 {
      width: 60px !important;
      height: 60px !important;
    }
    .btn-profil {
      border: none;
      outline: none;
      background-color: transparent;
      padding-bottom: 10px;
      position: relative;
    }
    .garis-bawah {
      border-bottom: 2px solid #16325c;
    }
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
    
    .dropdown > .dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
    .read-more{
      white-space:nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }
    .btn-baca-sekarang{
      width:100%;
    }
    .myProgress{
      width: 100%;
    }
    .myBar{
      text-align: center; /* To center it horizontally (if you want) */
      line-height: 30px; /* To center it vertically */
      color: white;
    }
    .posisi-previous{
      font-size: 2em;
      position: fixed;
      left:614px;
      top:15px;
    }
    
    .text-page{
      position: fixed;
      left:610px;
    }
    
    .posisi-next{
      font-size: 2em;
      position: fixed;
      top:15px;
      left:755px;
    }
    .scroll{
      max-height:350px;
      overflow-y: scroll;
    }
    
    .read-more-show{
      white-space:nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }
    
    .read-more-show2{
      cursor:pointer;
    }
    .read-more-hide{
      cursor:pointer;
    }
    
    .hide_content{
      display: none;
    }
    
    .w-total-denda{
        width:75%;
    }
    
    .w-lg-75{
        width:75%;
    }
    .w-lg-100{
        width:100%;
    }    
      .buku-list button {
      margin-top: 30px;
      border-radius: 30px;
    }
    .buku-list img {
      width: 100%;
      max-width: 120px;
      border-radius: 20px;
    }
    
    .buku-list-semua img {
      width: 100%;
      max-width: 180px;
      border-radius: 30px;
    }
    
    .bukus > .buku-list {
      margin-right: 25px;
      margin-bottom: 20px;
    }
    /* Awal Ukuran Font */
    html {
      scroll-behavior: smooth;
    }
    .heading-size {
      font-size: 34px;
    }
    
    .paragraph-size{
    font-size:1.3rem
    }
    /* Akhir Ukuran Font */
        /* Label Quantity Detil Buku */
    
    .quantity-label {
      background-color: var(--biru-unggulan);
    }
    
    /* Akhir Label Quantity Detil Buku */
    
    /* Search Bar Katalog Buku */
    input[type="text"] {
      padding: 9px;
      margin-top: 8px;
      font-size: 17px;
      border: black solid 1px;
      padding-right: 100px;
    }
    
    .search-container button {
      padding: 10px 14px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .search-container button:hover {
      background: #ccc;
    }
    
    /* Akhir Search Bar */
    
    /* Awal Button Katalog Buku */
    .tombol-pinjam-buku {
      background-color: rgba(22, 50, 92, 0.9) !important;
      color: white !important;
    }
    
    .tombol-pinjam-buku:hover {
      background-color: rgba(22, 50, 92, 1) !important;
    }
    /* Akhir Button Katalog BUku */
    
    /*Awal Button Tentang */
    .button-tentang {
      background-color: white;
      border-radius: 15px;
      width: 130px;
    }
    
    .button-tentang:hover {
      background-color: #3e4dd8;
    }
    
    .button-tentang:hover .text-button-tentang {
      color: white;
    }
    
    .montserrat {
      font-family: "Montserrat", sans-serif;
    }
    
    /* Akhir Button Tentang */
    
    /*Akhir Utilitas*/
    

    
    /* Nav Utama */
        .nav-utama:hover{
          color:#00BFFF!important;
          /*background-color:#ccc!important;*/
          /*background:rgba(22, 50, 92,0.5)!important;*/
        }
        
        .btn-nav:hover{
        background:rgba(22, 50, 92,0.5);
        }
        
        .underline {
        position: absolute;
        bottom: -2px;
        left: 50%;
        background-color:#00BFFF!important;
        height: 3px;
        width: 100%;
        transform: translateX(-50%);
        transition: transform 0.4s;
        pointer-events: none;
        }
        .navbar-nav > li:not(:nth-child(1)) {
          margin-left: 15px;
        }
    /* Akhir Nav Utama */
    
    /* Navbar Kedua (header) */
        header{
          width:100%;
          position:fixed;
          transition:ease-in 0.6s all;
          z-index:10;
        }
        
        header.sticky{
          top:20px;
          z-index:11;
        }
        
        div.dropdown-multicol{
          width: 70em;
          margin-left: -750px;
        }
        
        div.dropdown-row>a.dropdown-item{
          display:inline-block;
          width: 30%;
        }
        
        .myUL{
          margin-left: 100px;
        }
    /* Akhir Navbar Kedua */
    
    
    /* Sticky Top */
        .sticky {
        position: fixed;
        transition: ease-in 0.4s all;
        top: 0;
        width: 100%;
        }
        
        .sticky + .content {
          padding-top: 102px;
        }
    /*Akhir Sticky Top*/
    
    /* Page Utama Buku & Ebook */
    
        .card-size-buku{
        width:10rem;
        }
        
        #terbaru{
          margin-top:80px!important;
        }
    
    /*Akhir Page Utama Buku & Ebook */
    
    /* Show Pages Buku*/
    .daftar-isi{
      padding:30px 30px 0px 30px;
    }
    
    .halaman-daftar-isi{
      margin-left: 120px;
    }
    #test{
      background-color: var(--biru-unggulan);
      width: 30%;height: 30px;
    }
    .thumbnail-gambar-1{
      width:100%;
      height:600px;
      opacity:0.5;
    }
    .thumbnail-gambar-2{
      z-index:2;
      position:absolute;
      left:50px;
      top:400px;
      width:135px;
      height:175px;
    }
    
    /*Akhir Show Pages Buku */
    /* Show Pages Ebook */
    .show-modal-dialog{
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
    }
    
    .show-modal-content{
      width:305%;
      height: 100%;
      border-radius: 0;
      color:#333;
      overflow:auto;
    }
    .show-body{
      margin-left:18em;
    }
    
    .gambar-ukuran-landing{
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width:338px;
      height:238px;
    }

    /* Akhir Show Pages Ebook */

  
    /* Home Pages */
    .home-border-right{
      border-right: 1px #215D98 solid;
    }
    .home-border-bottom{
      border-bottom:none;
    }
    .biru-text-home{
      color:var(--biru-text-home)
    }
    .home-image-size{
      height:200px;
    }
    .mb-home{
      margin-bottom: 35px;
    }
    .home-kotak-denda{
      width: 100%;
    }
    .home-text-kotak-h4{
      font-size: 1.35rem;  
    }
    .home-text-kotak-h5{
        font-size: 1.125rem;
    }
    .home-text-kotak-align{
      text-align: left!important;
    }
    .px-home{
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important;
    }
    .align-items-home{
      align-items:center!important;
    }
    .progress-text{
      font-size:1.1rem;
    }
        .gambar-buku-home-atas{
      width: 160px;
      height:241px;
    }
    
    .gambar-buku-home-bawah{
      width:160px;
      height:220px;
    }
    
    .gambar-favorit{
      height:200px;
      width:150px;
    }
    
    .card-denda{
        width: 18rem;
    }
    
    .gambar-denda{
        width:290px!important;
        height:390px!important;
    }
    .gambar-bantuan{
      height:230px; 
      width:400px;
    }
    
    .gambar-dipinjam{
        width:150px;
        height:220px;
    }
    /*Akhir Homepages*/
    /*Page Bantuan */
    
/* Tablet Version */
@media all and (min-width: 768px) and (max-width: 1024px) { 
       /*Nav profil*/
   .nav-profil-responsive{
       margin-left:280px!important;
   }
   /*Akhir nav profil*/
    /*Utilitas*/

    .read-more{
      white-space:nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }

    .w-total-denda{
        width:90%;
    }
     
    .w-md-100{
        width:100%!important;
    }
    
    .w-md-75{
        width:75%!important;
    }
    
    /*Akhir Utilitas*/
    
    
    /* Navbar */
        nav{
          width: 100%;
        }
        .underline{
          display: none;
        }
     
    /* Navbar Kedua (header) */
        #terbaru{
          margin-top:120px!important;
        }
        
        header{
          width:100%;
          position:fixed;
          transition:ease-in 0.6s all;
          z-index:10;
        }
        
        .myUL{
          margin-left: 0px;
        }
        
        
        header.sticky{
          top:20px;
          z-index:11;
        }
        
        div.dropdown-multicol{
          width: 50em!important;
          margin-left: -200px!important;
        }
        div.dropdown-row>a.dropdown-item{
          display:inline-block;
          width: 60%;
        }
    /* Akhir Navbar Kedua */
    
        
    /* Homepage Dashboard Responsive */              
    .home-border-bottom{
      border-bottom:none!important;
    }
    .home-border-right{
      border-right:1px #215D98 solid!important;
    }
    .home-text-kotak-h4{
      font-size: 1.35rem!important;  
    }
    .home-text-kotak-h5{
        font-size: 1.125rem!important;
    }
    .home-card-size-buku{
      width:13rem!important;
    }
    
    .gambar-buku-home-atas{
      width: 160px!important;
      height:250px;
    }
    
    .gambar-buku-home-bawah{
      width:210px!important;
      height:290px!important;
    }
    
    .gambar-favorit{
      height:240px!important;
      width:160px!important;
    }
    
    .gambar-dipinjam{
        width:150px;
        height:220px;
    }
    
    /*Akhir Homepage Dashboard*/
    
    /* Navbar Kedua (header) */
    header{
      width:100%;
      position:fixed;
      transition:ease-in 0.6s all;
      z-index:10;
    }
    
    header.sticky{
      top:20px;
      z-index:11;
    }
    
    div.dropdown-multicol{
      width: 70em;
      margin-left: -250px!important;
    }
    div.dropdown-row>a.dropdown-item{
      display:inline-block;
      width: 30%;
    }
    /* Akhir Navbar Kedua */
    
    
    /* Page Buku & Ebook*/
    .card-size-buku{
      width:13rem;
    }
    .gambar-ukuran-landing{
      width:240px;
      height:300px;
    }
    /*Akhir Page Buku & Ebook*/
    
    /* Show Pages Buku*/
     .btn-baca-sekarang{
      width:100%;
    }
    .kolom-daftar-isi{
      margin-top: 3em;
    }
    .myProgress{
      width: 100%;
    }
    .myBar{
      width: 20%;height: 30px;
      text-align: center; /* To center it horizontally (if you want) */
      line-height: 30px; /* To center it vertically */
      color: white;
    }
    .thumbnail-gambar-1{
      width:100%;
      height:600px!important;
      opacity:0.5;
    }
    .thumbnail-gambar-2{
      z-index:2;
      position:absolute;
      left:50px!important;
      top:390px!important;
      width:135px;
      height:170px;
    }
    /*Akhir Show Pages Buku*/
   
    /* Show Pages Ebook */
    .posisi-previous{
      font-size: 2em;
      /* position: fixed;
      left:368px;
      top:15px; */
      margin-left:6.3em!important;
    
    }
    
    .text-page{
      position: fixed;
      /* left:388px!important; */
      margin-left:13em!important;
      /* margin:auto!important; */
    }
    
    .text-show-judul{
      font-size: 14px;
    }
    
    .show-body{
      margin-left:5em!important;
    }
    
    .posisi-next{
      font-size: 2em;
      /* position: fixed!important;
      top:15px;
      left: 485px!important;; */
      margin-left:6.7em!important;
    
    }
    
    .read-more-show{
      white-space:nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }

    /* Akhir Show Pages Ebook */
    
    /*Akhir Page Ebook*/
 
    /*Page Bantuan*/
    .gambar-bantuan{
      height:230px; 
      width:600px;
    }
    /*Akhir Bantuan*/
     

}


/* Laptop L*/

@media only screen and (min-width:1440px){
  /* Show Pages Ebook */
  .posisi-previous{
    font-size: 2em;
    /* position: fixed;
    left:368px;
    top:15px; */
    margin-left:2em!important;

  }

  .text-page{
    position: fixed;
    /* left:388px!important; */
    margin-left:4em!important;
    /* margin:auto!important; */
  }

  .text-show-judul{
    font-size: 14px;
  }

  .show-body{
    margin-left:22em;
  }

  .posisi-next{
    font-size: 2em;
    /* position: fixed!important;
    top:15px;
    left: 485px!important;; */
    margin-left:2em!important;

  }
}

/* Mobile Version */
@media all and (min-width: 320px) and (max-width: 420px) {
    /*Login */
     .login-title{
        font-size:20px;
    }
    /*Akhir login*/
    
   /*Nav profil*/
   .nav-profil-responsive{
       margin-left:50px!important;
   }
   /*Akhir nav profil*/
   
    /* Navbar Kedua (header) */
    #terbaru{
         margin-top:220px!important;
    }
     
    header{
      width:100%;
      position:fixed;
      transition:ease-in 0.6s all;
      z-index:10;
    }
    
    .myUL{
      margin-left: 0px;
    }
    header.sticky{
      top:20px;
      z-index:11;
    }
    div.dropdown-multicol{
      width: 50em!important;
      margin-left: -160px!important;
    }
    div.dropdown-row>a.dropdown-item{
      display:inline-block;
      width: 60%;
    }
    /* Akhir Navbar Kedua */

    
    
    /* Homepages */
      .home-border-bottom{
        border-bottom:1px #215D98 solid;
      }
      .home-border-right{
        border-right:none;
      }
      .home-card-size-buku{
        width:9.5rem;
      }
     
      .paragraph-size{
        font-size:0.8rem;
      }
    
      .home-text-kotak-h4{
        font-size: 0.9rem;  
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      .home-text-kotak-h5{
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
      }
    
      .home-kotak-denda{
        width: 100%;
      }
      .home-text-kotak-align{
        text-align: center!important;
      }
      
      .gambar-buku-home-atas{
          width: 110px;
          height:160px;
      }
      
      .gambar-buku-home-bawah{
          width:155px;
          height:210px;
       }
       
       .gambar-favorit{
          height:180px;
          width:130px;
        }
        .align-items-home{
        align-items:start!important;
        }
        .gambar-denda{
        width:320px!important;
        height:430px!important;
        }
        .card-denda{
            width:20rem!important;
        }
    /*Akhir Homepage*/
    
    /* Page Utama Buku & Ebook */
    .card-size-buku{
        width:8rem;
    }
    .gambar-ukuran-landing{
      width:150px;
      height:185px;
    }
    /*Akhir Page Utama Buku & Ebook*/
    
    /* Show Pages*/
      .btn-baca-sekarang{
        width:100%;
      }
      .kotak-daftar-isi{
        background-color:White;
        width:100%;
        height:350px;
      }
      .halaman-daftar-isi{
        margin-left: 450px;
      }
      .nav-responsive{
        width: 90%;
        text-align: center;
      }
      .kolom-daftar-isi{
        margin-top: 3em;
      }
      .myProgress{
        width: 100%;
      }
      .myBar{
        width: 20%;height: 30px;
        text-align: center; /* To center it horizontally (if you want) */
        line-height: 30px; /* To center it vertically */
        color: white;
      }
      .thumbnail-gambar-1{
        width:100%;
        height:380px;
        opacity:0.5;
      }
      .thumbnail-gambar-2{
        z-index:2;
        position:absolute;
        left:30px;
        top:200px;
        width:105px;
        height:140px;
      }
    /*Akhir Show Pages*/
    
    /* Show Pages Ebook */
        .posisi-previous{
          font-size: 2em;
          position: fixed;
          left:108px;
          top:15px;
        }
    
        .text-page{
          position: fixed;
          left:128px;
        }
    
        .text-show-judul{
      
          width: 30%;
        }
        .text-show-close{
          /* font-size: 12px; */
        }
        .posisi-next{
          font-size: 2em;
          position: fixed;
          top:15px;
          left:225px;
        }
        .show-body{
          margin-left:-3em;
        }
    /* Akhir Show Pages Ebook */
    
    
    
    /*Utilitas*/
        .read-more-show{
          width:80%;
          white-space:nowrap;
          overflow:hidden;
          text-overflow: ellipsis;
        }
        
        .w-total-denda{
            width:100%;
        }
        
        .underline{
            display:none;
        }
        
        .w-sm-100{
            width:100%!important;
        }
    /*Akhir Utilitas*/
    
    /*Page Bantuan*/
    .gambar-bantuan{
          height:230px; 
          width:300px;
    }
    /*Akhir Page Bantuan*/
 }
 @media all and (min-width: 180px) and (max-width: 768px) {
   nav{
     width: 100%;
    }
    .prf{
      text-align: center;
    }
    .nav-text-responsive{
      text-align: center;
    }
    .gambar2{
      text-align: center;
    }
 }
 
  .progress-text{
    font-size:0.75rem;
  }
  .px-home{
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important;
  }
  
} 

@media only screen and (min-width:375px){
  /*Nav profil*/
   .nav-profil-responsive{
       margin-left:50px!important;
   }
   /*Akhir nav profil*/
.ml-home{
  margin-left:1.650rem;
}
.modal-show-custom{
  text-align: center;
}
.home-card-size-buku{
  width: 10rem;
}
 /* Show Pages Ebook */
 .posisi-previous{
  font-size: 2em;
  position: fixed;
  left:148px!important;
  top:15px;
}

.text-page{
  /* position: fixed;
  left:168px!important; */
  margin-left: 5em!important;
}

.text-show-judul{

  width: 30%;
}
.text-show-close{
  /* font-size: 12px; */
}
.posisi-next{
  font-size: 2em;
  position: fixed;
  top:15px;
  left:255px!important;
}
.show-body{
  margin-left:-13.4em!important;
}
.gambar-ukuran-landing{
  width:160px;
  height:200px;
}

.card-denda{
width:22rem!important;
}
/* Akhir Show Pages Ebook */
}

/*Smartphone Ukuran L*/
@media all and (min-width: 425px) and (max-width: 760px) {
  
    /*Nav profil*/
   .nav-profil-responsive{
       margin-left:100px!important;
      
   }
   /*Akhir nav profil*/
    /* Navbar Kedua (header) */
    #terbaru{
      margin-top:190px!important;
    }

    header{
      width:100%;
      position:fixed;
      transition:ease-in 0.6s all;
      z-index:10;
    }
    
    .myUL{
      margin-left: 0px;
    }
    header.sticky{
      top:20px;
      z-index:11;
    }
    
    div.dropdown-multicol{
      width: 50em!important;
      margin-left: -280px!important;
    }
    div.dropdown-row>a.dropdown-item{
      display:inline-block;
      width: 60%;
    }
    /* Akhir Navbar Kedua */
    

    /* Homepages */
    .home-border-bottom{
      border-bottom:1px #215D98 solid;
    }
    .home-border-right{
      border-right:none;
    }
    .home-image-size{
    width:50%;
    height:300px;
    opacity:0.5;
    }
    .ml-home{
      margin-left: 2.5rem;
    }
    .home-kotak-denda{
      width: 100%;
    }
    .paragraph-size{
      font-size:1.1rem;
    }
    .home-text-kotak-align{
      text-align: center!important;
    }
    .home-text-kotak-h4{
      font-size: 1rem;  
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
    }
    .home-text-kotak-h5{
        font-size: 0.9rem;
         margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .gambar-buku-home-atas{
      width: 150px;
      height:200px;
    }
    
    .gambar-buku-home-bawah{
      width:185px;
      height:260px;
    }
    
    .gambar-favorit{
      height:180px;
      width:130px;
    }
    .align-items-home{
        align-items:start!important;
    }
    /*Akhir Homepage*/

    /*Pages Utama Buku & Ebook*/
    .gambar-ukuran-landing{
      width:180px;
      height:250px;
    }
     .card-size-buku{
      width:11rem;
    }
    /*Akhir Pages Utama Buku & Ebook*/

    /* Show Pages Ebook */
     .posisi-previous{
      font-size: 2em;
      position: fixed;
      left:158px!important;
      top:15px;
    }
    
    .text-page{
      position: fixed;
      left:178px!important;
    }
    
    .text-show-judul{
    
      width: 30%;
    }
    
    .posisi-next{
      font-size: 2em;
      position: fixed;
      top:15px;
      left:265px!important;
    }
    
    .show-body{
      margin-left:-2.5em;
    }
    /* Akhir Show Pages Ebook */
    /*Show Pages Buku*/
    .thumbnail-gambar-1{
      width:100%;
      height:300px;
      opacity:0.5;
    }
    .thumbnail-gambar-2{
      z-index:2;
      position:absolute;
      left:30px;
      top:120px;
      width:105px;
      height:140px;
    }
    
    .modal-show-custom{
      text-align: center;
    }
    /*Akhir Show Pages Buku*/
    
 

}
